<ion-content>
    <div class="clear-fix"></div>
    <h1 text-center>{{text}}</h1>

    <form [formGroup]="cartCustomerForm">

        <ion-input [(ngModel)]="customer_id" formControlName="customer_id" type="hidden"></ion-input>
        <ion-input [(ngModel)]="customer_group_id" formControlName="customer_group_id" type="hidden"></ion-input>

        <div text-center>
            <p ion-text color="danger" *ngIf="submitAttempt && error_warning">{{error_warning}}</p>
            <p ion-text color="secondary" *ngIf="submitAttempt && text_message">{{text_message}}</p>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating>Firstname</ion-label>
                        <ion-input [(ngModel)]="firstname" formControlName="firstname" type="text" [class.invalid]="!cartCustomerForm.controls.firstname.valid && (cartCustomerForm.controls.firstname.dirty || submitAttempt)"></ion-input>
                    </ion-item>
                    <p class="invalid-message" *ngIf="!cartCustomerForm.controls.firstname.valid  && (cartCustomerForm.controls.firstname.dirty || submitAttempt)">{{error_firstname}}</p>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label floating>Lastname</ion-label>
                        <ion-input [(ngModel)]="lastname" formControlName="lastname" type="text" [class.invalid]="!cartCustomerForm.controls.lastname.valid && (cartCustomerForm.controls.lastname.dirty || submitAttempt)"></ion-input>
                    </ion-item>
                    <p class="invalid-message" *ngIf="!cartCustomerForm.controls.lastname.valid  && (cartCustomerForm.controls.lastname.dirty || submitAttempt)">{{error_lastname}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input [(ngModel)]="email" formControlName="email" type="text" [class.invalid]="!cartCustomerForm.controls.email.valid && (cartCustomerForm.controls.email.dirty || submitAttempt)"></ion-input>
                    </ion-item>
                    <p class="invalid-message" *ngIf="!cartCustomerForm.controls.email.valid  && (cartCustomerForm.controls.email.dirty || submitAttempt)">{{error_email}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating>Telephone</ion-label>
                        <ion-input [(ngModel)]="telephone" formControlName="telephone" type="text" [class.invalid]="!cartCustomerForm.controls.telephone.valid && (cartCustomerForm.controls.telephone.dirty || submitAttempt)"></ion-input>
                    </ion-item>
                    <p class="invalid-message" *ngIf="!cartCustomerForm.controls.telephone.valid  && (cartCustomerForm.controls.telephone.dirty || submitAttempt)">{{error_telephone}}</p>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

    <div padding>
        <button ion-button color="primary" block (click)="save()">Proceed</button>
    </div>
</ion-content>